---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  AfterControlStatement: Never
  BeforeElse: false
  BeforeWhile: false
ColumnLimit: '0'
AlignConsecutiveAssignments:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SpacesInParens: Custom
SpacesInParensOptions:
  InEmptyParentheses: false
  InCStyleCasts: true
  Other: true
SpacesInSquareBrackets: true
IndentExternBlock: NoIndent
IndentCaseLabels: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
---
