name: Re-Release Without Release Date Updates

on:
  workflow_dispatch:
    inputs:
        tag_name:
          type: string
          description: Which release version to repack (v1.0.10 for example)
          default: "v1.0.10"

jobs:
  re-release-dont-update-dates:
    runs-on: ubuntu-latest
    steps:
      - name: Authorize Mikroe Actions App
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.MIKROE_ACTIONS }}
          private-key: ${{ secrets.MIKROE_ACTIONS_KEY_AUTHORIZE }}

      - name: Checkout code
        uses: actions/checkout@v5
        with:
          token: ${{ steps.app-token.outputs.token }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Cache Python packages
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          sudo apt-get install p7zip-full
          pip install -r scripts/requirements/shared.txt
          pip install -r scripts/requirements/release.txt
          pip install -r scripts/requirements/databases.txt

      - name: Run Package Script
        env:
          DB_PATH: ${{ secrets.DB_PATH }}
          ES_HOST: ${{ secrets.ES_HOST }}
          ES_USER: ${{ secrets.ES_USER }}
          ES_PASSWORD: ${{ secrets.ES_PASSWORD }}
          ES_INDEX: ${{ secrets.ES_INDEX_LIVE }}
          ES_INDEX_LIVE: ${{ secrets.ES_INDEX_LIVE }}
        run: python -u scripts/package.py ${{ secrets.GITHUB_TOKEN }} ${{ github.repository }} ${{ github.event.inputs.tag_name }}

      ## Left commented out for potential future use.
      # - name: Run Index Script
      #   env:
      #     ES_HOST: ${{ secrets.ES_HOST }}
      #     ES_USER: ${{ secrets.ES_USER }}
      #     ES_PASSWORD: ${{ secrets.ES_PASSWORD }}
      #   run: |
      #     echo "Indexing to Test first."
      #     python -u scripts/index.py ${{ github.repository }} ${{ secrets.GITHUB_TOKEN }} ${{ secrets.ES_INDEX_TEST }} ${{ secrets.PROG_DEBUG_CODEGRIP_LIVE }} False latest False False "--es_host" ${{ secrets.ES_HOST }} "--es_user" "${{ secrets.ES_USER }}" "--es_password" "${{ secrets.ES_PASSWORD }}" "--keep_previous_dates" "True"
      #     echo "Indexing to Live next."
      #     python -u scripts/index.py ${{ github.repository }} ${{ secrets.GITHUB_TOKEN }} ${{ secrets.ES_INDEX_LIVE }} ${{ secrets.PROG_DEBUG_CODEGRIP_LIVE }} False latest False False "--es_host" ${{ secrets.ES_HOST }} "--es_user" "${{ secrets.ES_USER }}" "--es_password" "${{ secrets.ES_PASSWORD }}" "--keep_previous_dates" "True"
      #     fi